header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 33px;
}

.menu-item {
  font-size: 1.5em;
  margin-left: 22px;
}

.scrollable-container {
  display: flex;
  overflow-x: auto;
  overflow: hidden;
}

.container {
  display: flex;
}

h2 {
  text-align: center;
  color: white;
}

.scrollable-container > img {
  margin: 5px;
  object-fit: cover;
  min-width: 300px;
  cursor: pointer;
  border-radius: 8px;
}

body {
  font-family: 'system-ui';
  background-color: #0d1117;
  color: white;
  margin-top: 33px;
  margin-bottom: 33px;
  margin-left: 50px;
  margin-right: 50px;
}

#features-movie {
  display: flex;
}

button {
  display: flex;
  background-color: #ffffff00;
  border: none;
  cursor: pointer;
}

.arrow {
  display: flex;
  align-items: center;
}

.modal {
  position: fixed;
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 66vw;
  height: 80vh;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  border-radius: 8px;
  box-shadow: 12px 10px 68px -13px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 12px 10px 68px -13px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 12px 10px 68px -13px rgba(0, 0, 0, 0.75);
}

.modal-content {
  display: flex;
  flex-direction: row;
  margin-top: 80px;
  padding: 33px;
  flex-wrap: wrap;
  overflow: scroll;
}

.modal-content > img {
  border-radius: 8px;
  margin-right: 22px;
  margin-bottom: 22px;
}

.right-container {
  display: flex;
  flex-direction: column;
  max-width: 450px;
}
.right-container > span {
  color: black;
}
.right-container > h2 {
  text-align: left;
  margin: 4px;
}

.invisible {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.black {
  color: black;
}

.margin {
  margin-top: 35px;
}

.closebtn {
  position: absolute;
  cursor: pointer;
  top: 22;
  left: 22;
}

.featured-button {
  background-color: brown;
  color: white;
  border-radius: 8px;
  padding: 12px;
}

#featured-movie {
  display: flex;
  background-color: black;
  justify-content: flex-end;
  border-radius: 8px;
}

#featured-img {
  border-radius: 8px;
  margin-left: auto;
}

.info-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  max-width: 70%;
  padding: 2em;
}

#modal-black-background {
  position: fixed;
  background-color: #000000c7;
  width: 100vw;
  height: 100vh;
  top: 0;
}

footer {
  text-align: center;
  margin-top: 70px;
}

section {
  margin-top: 70px;
}

h1 {
  font-size: 3em;
}
