header {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 33px;
}

.menu-item {
  font-size: 1.5em;
  margin-left: 22px;
}

.scrollable-container {
  display: flex;
  overflow-x: auto;
  overflow: hidden;
}

.container {
  display: flex;
}

h2 {
  text-align: center;
  color: white;
}

.scrollable-container > img {
  margin: 5px;
  object-fit: cover;
  min-width: 300px;
}

body {
  background-color: #0d1117;
  color: white;
  margin-top: 33px;
  margin-bottom: 33px;
  margin-left: 50px;
  margin-right: 50px;
}

button {
  display: flex;
  background-color: #ffffff00;
  border: none;
}

.arrow {
  display: flex;
  align-items: center;
}

.modal {
  position: fixed;
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 66vw;
  height: 75vh;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  border-radius: 8px;
  box-shadow: 12px 10px 68px -13px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 12px 10px 68px -13px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 12px 10px 68px -13px rgba(0, 0, 0, 0.75);
}

.invisible {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.black {
  color: black;
}
